<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
    <a class="navbar-brand" href="#">Mon projet</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/products">Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/offres">Offres</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/AddProduct">AddProduct</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Formulaire">Formulaire</a>
            </li>
        </ul>
        <input class="form-control len" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success m-2" type="submit">Search</button>
    
       
    </div>
    
</nav>