{{alertStock}}
<div class="row">
    <div class="col-md-4" *ngFor="let i of listProduct, let p=index">
        <div class="card shadow-lg" style="width: 18rem; text-align: center00; border-color: blue;">
            <div class="card-body">
                <img src="assets/hh.jpg" class="img-fluid" alt=" image">
                <h5 class="card-title p-3 m-lg-auto">{{ i.title }}</h5>
                <p>Quantity : {{ i.quantity }}</p>
                <p>Price : {{ i.price }}</p>
                <p>Like : {{ i.like }}</p>
                <div>
                <button class="btn btn-primary m-lg-2" (click)="like(p)">Like</button>
                <button class="btn btn-success m-lg-2" (click)="buy(p)" [disabled]="i.quantity == 0" >Buy</button>
                <button class="btn btn-info m-lg-2" [routerLink]="['/product',i.id]" >Details</button>
                </div>
                
            </div>
        </div>
    </div>
</div>