<div class="row">
    
        <div class="card shadow-lg" style="width: 18rem; text-align: center00; border-color: blue;">
            <div class="card-body">
                <img src="assets/hh.jpg" class="img-fluid" alt=" image">
                <h5 class="card-title p-3 m-lg-auto">{{ product.title }}</h5>
                <p>Quantity : {{ product.quantity }}</p>
                <p>Price : {{ product.price }}</p>
                <p>Like : {{ product.like }}</p>
                <div>
                
                <button class="btn btn-success m-lg-2" (click)="Return()">Return</button>
               
                </div>
                
            </div>
        </div>
    
</div>